body{
    background-color:#FAF7FD;
    font-family: 'Poppins', sans-serif;
    height:100%;
}

.card-content a{
    border:solid 2px #BB99DD !important;
    display:block!important;
}

a:hover{
    text-decoration:none;
    color:#FAF7FD!important;
    background-color:#BB99DD!important;
}

.is-purple{
    color:#BB99DD;
}
.f-weight-300{
    font-weight:300;
}

.f-weight-600{
    font-weight:600;
}

img{
    height:150px;
    width:160px;
    border-radius:50%!important;
    border:solid 3px #BB99DD !important;
}
